{% extends "main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->

<!--binbash leverage documetation-->
<section class="first-gradiant-body w-100">
  <div class="md-grid container-row pt-1 pt-lg-5 my-4">
    <div class="px-3 ctx-header-text container">
      <div class="container-row">
        <p class="h1 text-xs-center">
          binbash
          <img src="assets/images/logos/leverage-title-logo.svg" class="mx-3 leverage-title-logo" height="22%"/>
          documentation
        </p>
      </div>
      <img src="assets/images/logos/binbash-landing-header.svg" class="laverage-header-img d-lg-none d-xl-none mx-auto mb-5" />
      <p class="h3 text-xs-center">The leading, easy to deploy, reusable and most automated solution for defining, provisioning and managing your secure and scalable multi-account AWS infrastructure environment.</p>
      <div class="container-row container-xs">
        <button
          type="button"
          title="{{ page.next_page.title | e }}"
          onclick="location.href='notes/network/dns'"
          class="btn-dark btn-xl-large btn-lg-large mx-3  mt-3 my-md-5 my-lg-5 my-xl-5 box-shadow"
        >
            Get Started
        </button>
        <button
          type="button"
          title="{{ page.next_page.title | e }}"
          onclick="location.href='/'"
          class="btn-warning btn-xl-large btn-lg-large mx-3 mt-3 my-md-5 my-lg-5 my-xl-5 box-shadow"
        >
          Home
        </button>
      </div>
    </div>
    <div class="ctx-header-img d-lg">
      <img src="assets/images/logos/binbash-landing-header.svg" class="laverage-header-img mx-lg-5" />
    </div>
  </div>

</section>

<!--Footer-->
<footer class="bg-dark w-100">
  <div class="md-grid container-row-xl container-row-lg container pt-5 my-4">
    <div class="container-row" style="flex:50%">
      <div class="text-white d-flex" style="flex: 40%;">
        <img src="assets/images/logos/logo-binbash.png" class="mx-auto" width="30%"/>
      </div>
      <div class="text-white h3" style="flex: 30%;">
        <div class="container text-white h3">
          <ul>
            <li class="cursor-pointer item-text-footer">
              <a href="https://www.binbash.co/" target="_blank">Home</a>
            </li>
            <li class="cursor-pointer item-text-footer">
              <a href="https://www.binbash.co/" target="_blank">Solutions</a>
            </li>
            <li class="cursor-pointer item-text-footer">
              <a href="https://www.binbash.co/leverage" target="_blank">Leverage</a>
            </li>
            <li class="cursor-pointer item-text-footer">
              <a href="https://medium.com/binbash-inc" target="_blank">Blog</a>
            </li>
            <li class="cursor-pointer item-text-footer">
              <a href="https://www.binbash.co/contact" target="_blank">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-white h3" style="flex: 30%;">
        <div class="container text-white h3">
          <ul>
            <li class="cursor-pointer item-text-footer">
              <a href="https://github.com/sponsors/binbashar" target="_blank">About Us</a>
            </li>
            <li class="cursor-pointer item-text-footer">
              <a href="https://www.binbash.co/team" target="_blank">Team</a>
            </li>
            <li class="cursor-pointer item-text-footer">
              <a href="https://github.com/binbashar" target="_blank">Resources</a>
            </li>
            <li class="cursor-pointer item-text-footer">
              <a href="https://www.binbash.co/" target="_blank">Testimonials</a>
            </li>
            <li class="cursor-pointer item-text-footer">
              <a href="https://www.binbash.co/pricing" target="_blank">Pricing</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-row mt-5 my-xl-0 mX-lg-0" style="flex:50%">
      <div class="text-white text-end h3" style="flex: 15%;">
          <span>Follow us on: </span>
      </div>
      <div class="text-white h3" style="flex: 55%;">
        <a href="https://join.slack.com/t/binbashar/shared_invite/zt-fw1692b6-9k4ADsWJ47lKacszphXM1w" target="_blank">
          <img
            src="assets/images/logos/socialmedia/slack.svg"
            title="Slack"
            class="mx-3 cursor-pointer item-social-media"
            width="9%"
          />
        </a>
        <a href="https://www.linkedin.com/company/binbash" target="_blank">
          <img
            src="assets/images/logos/socialmedia/linkedIn.svg"
            title="linkedIn"
            class="mr-3 cursor-pointer item-social-media"
            width="9%"
          />
        </a>
        <a href="https://github.com/binbashar" target="_blank">
          <img
            src="assets/images/logos/socialmedia/github.svg"
            title="Github"
            class="mr-3 cursor-pointer item-social-media"
            width="9%"
          />
        </a>
        <a href="https://twitter.com/binbash_devops" target="_blank">
          <img
            src="assets/images/logos/socialmedia/twitter.svg"
            title="Twitter"
            class="mr-3 cursor-pointer item-social-media"
            width="9%"
          />
        </a>
        <a href="https://www.instagram.com/binbash_devops/"  target="_blank">
          <img
            src="assets/images/logos/socialmedia/instagram.svg"
            title="Instagram"
            class="mr-3 cursor-pointer item-social-media"
            width="9%"
          />
        </a>
        <a href="https://medium.com/binbash-inc" target="_blank">
          <img
            src="assets/images/logos/socialmedia/medium.svg"
            title="Medium"
            class="mr-3 cursor-pointer item-social-media"
            width="9%"
          />
        </a>
      </div>
    </div>
  </div>
</footer>

{% endblock %}